body{
    background-color: #121212;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-y: 0;
}
*>a{
    text-decoration: none;
}
/* --------------------<<header>>-------------------- */
.navbar{
    background-color:black;
    width: 100%;
    z-index: 2;
    top: 0px;
  }
.navbar-inner{
    align-items: center;
    display: flex;
    width: 73%;
    height: 100px;
    margin: 0 auto;
}
.conteiner-logo{
    width: 41%;
}
.conteiner-logo>a>h1{
    border-bottom: 2px solid #FF592B;
    border-radius: 25px;
    padding: 15px 15px 5px 25px;
    display: inline;
}
.logo{
    display: inline;
    margin: 0;
    font-size:27px;
    font-family: sans-serif;
    font-weight: 900;
    color: white;
    cursor: pointer;
    transition:ease 0.5s ;
    transform: translate(10px, 10px);
}
.logo:hover{
    color: #FF592B;
    font-size:27.2px;
}
.logo>h1>span{
    color: #FF592B;
}
.navbar-ul{
    display: -webkit-box;
    color: white;
    font-size: 18px;
    font-family: system-ui;
    font-weight: 500;
    list-style-type: none;
}
.navbar-ul>li{
    z-index: 1;
    transition: ease 0.5s;
    cursor: pointer;
    margin: auto;
    padding: 3px;
}
.navbar-ul>li:hover{
    color: #FF592B;
    font-size: 18.5px;
}
.navbar-ul>li>span{
    color: #FF592B;
}
.navbar-ul>li>text{
    border-radius: 5px;
    padding: 8px 18px;
    background-color: #FF592B;
    color: white;
    transition: ease 0.5s;
}
.navbar-ul>li>text:hover{
    border-bottom: 5px solid #FF592B;
}
.conteiner-top-ul{
    width: 670px;
}
.click-btn-ul-li{
    display: none;
}
/* --------------------<<main>>-------------------- */

/* --------------------<<parent-1>>-------------------- */
.parent-1{
    width: 100%;
}
.parent-1-iner{
    display: flex;
    width: 73%;
    margin: auto;
    padding-top: 200px;
}
.parent-1-row-1{
    width: 551px;
    z-index: 1;
}
.parent-1-row-1::before{
    content: "";
    position: absolute;
    top: 220px;
    left: -420px;
    width: 51%;
    height: 680px;
    border: 2px solid #1D1D1D;
    transform: rotate(27deg);
}
.parent-1-row-2{
    width: 48%;
    margin: 0px 10px;
    display: flex;
}
.parent-1-row-1>h3{
    position: relative;
    font-family: sans-serif;
    font-size: 40px;
    color: #FF592B;
    margin: 0;
}
.parent-1-row-1>p{
    position: relative;
    font-size: larger;
    margin: 15px 0px 25px;
    color: #787878;
}
.parent-1-row-1>button{
    position: relative;
    outline: none;
    padding: 15px 15px;
    background-color: #FF592B;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
}
.parent-1-row-1>button:hover{
    border-bottom: 5px solid #FF592B;
}
.parent-1-row-2>img{
    position: relative;
    z-index: 1;
    width: 100%;
    height: fit-content;
    left: 60px;
    bottom: 20px;
}

/* --------------------<<parent-2>>-------------------- */
.bolck-1-title{
    font-size: xx-large;
    width: 100%;
    color: white;
    font-family: sans-serif;
    letter-spacing: 10px;
    height: 230px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.bolck-1-title>h3{
    z-index: 1;
    border-bottom: 2px solid #FF592B;
    border-radius: 25px;
    padding: 15px 15px 5px 25px;
}
.bolck-1-title>h3>span{
    color: #FF592B;
}
.bolck-1-title::after {
    position: absolute;
    content: '';
    top: 650px;
    right: 0;
    width: 170px;
    height: 140px;
    background: #FF592B;
    z-index: -1;
    -webkit-clip-path: polygon(34% 32%, 64% 46%, 100% 31%, 100% 55%, 65% 70%, 33% 56%, 0 68%, 0 45%);
    clip-path: polygon(34% 32%, 64% 46%, 100% 31%, 100% 55%, 65% 70%, 33% 56%, 0 68%, 0 45%);
}
.bolck-1-title::before {
    position: absolute;
    content: '';
    top: 700px;
    right: 0;
    width: 170px;
    height: 140px;
    background: #FF592B;
    z-index: -1;
    -webkit-clip-path: polygon(34% 32%, 64% 46%, 100% 31%, 100% 55%, 65% 70%, 33% 56%, 0 68%, 0 45%);
    clip-path: polygon(34% 32%, 64% 46%, 100% 31%, 100% 55%, 65% 70%, 33% 56%, 0 68%, 0 45%);
}

/* --------------------<<parent-3>>-------------------- */
.parnet-3{
    width: 100%;
    height: auto;
}
.parnet-3-iner{
    display: flex;
    margin: auto;
    width: 65%;
}
.parnet-3-iner-elements-1::before{
    position: absolute;
    content: '';
    bottom: 100%;
    width: 3px;
    left: 70px;
    height: 25%;
    background-color: #161616;
}
.parnet-3-iner-elements-1::after{
    position: absolute;
    content: '';
    bottom: 123%;
    padding: 5px;
    border-radius: 50%;
    left: 67px;
    background-color: #FF592B;
}
.parnet-3-iner>div{
    position: relative;
    width: 50%;
    height: auto;
    background-color: #161616;
    color: white;
    margin: 15px;
    padding: 25px;
}
.parnet-3-iner-elements-1{
    text-align: right;
}
.parnet-3-iner-elements-1>i{
    background-color: #FF592B;
    font-size: 30px;
    color: white;
    border-radius: 50%;
    padding: 15px 18px 14px 16px;
}
.parnet-3-iner-elements-1>h4{
    font-size: 25px;
    font-family: sans-serif;
    margin: 15px 0;
}
.parnet-3-iner-elements-1>p{
    color: #787878;
    font-family: sans-serif;
}
.parnet-3-iner-elements-1>a>text{
    font-family: sans-serif;
    color: #FF592B;
    font-weight: bolder;
    font-size: larger;
}
.parnet-3-iner-elements-2::before{
    position: absolute;
    content: '';
    bottom: 50.5%;
    width: 60%;
    left: 80%;
    height: 1%;
    background-color: #161616;
}
.parnet-3-iner-elements-2::after{
    position: absolute;
    content: '';
    bottom: 49%;
    padding: 5px;
    border-radius: 50%;
    left: 140%;
    background-color: #FF592B;
}
.parnet-3-iner-elements-2>i{
    background-color: #FF592B;
    font-size: 30px;
    color: white;
    border-radius: 50%;
    padding: 15px 13px 13px 13px;
}
.parnet-3-iner-elements-2>h4{
    font-size: 25px;
    font-family: sans-serif;
    margin: 15px 0;
}
.parnet-3-iner-elements-2>p{
    color: #787878;
    font-family: sans-serif;
}
.parnet-3-iner-elements-2>a>text{
    font-family: sans-serif;
    color: #FF592B;
    font-weight: bolder;
    font-size: larger;
}


/* --------------------<<parent-4>>-------------------- */
.parnet-4{
    width: 100%;
    height: auto;
}
.parnet-4-iner{
    display: flex;
    margin: auto;
    width: 65%;
}
.parnet-4-iner>div{
    width: 50%;
    height: auto;
    background-color: #161616;
    color: white;
    margin: 15px;
    padding: 25px;
}
.parnet-4-iner-elements-1{
    text-align: right;
}
.parnet-4-iner-elements-1>i{
    background-color: #FF592B;
    font-size: 30px;
    color: white;
    border-radius: 50%;
    padding: 15px 13px 13px 13px;
}
.parnet-4-iner-elements-1>h4{
    font-size: 25px;
    font-family: sans-serif;
    margin: 15px 0;
}
.parnet-4-iner-elements-1>p{
    color: #787878;
    font-family: sans-serif;
}
.parnet-4-iner-elements-1>a>text{
    font-family: sans-serif;
    color: #FF592B;
    font-weight: bolder;
    font-size: larger;
}
.parnet-4-iner-elements-2>i{
    background-color: #FF592B;
    font-size: 30px;
    color: white;
    border-radius: 50%;
    padding: 14px 16px 14px 16px;
}
.parnet-4-iner-elements-2>h4{
    font-size: 25px;
    font-family: sans-serif;
    margin: 15px 0;
}
.parnet-4-iner-elements-2>p{
    color: #787878;
    font-family: sans-serif;
}
.parnet-4-iner-elements-2>a>text{
    font-family: sans-serif;
    color: #FF592B;
    font-weight: bolder;
    font-size: larger;
}

.bolck-2-title{
    font-size: xx-large;
    width: 100%;
    color: white;
    font-family: sans-serif;
    letter-spacing: 10px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bolck-2-title>h3{
    z-index: 1;
    border-bottom: 2px solid #FF592B;
    border-radius: 25px;
    padding: 15px 15px 5px 25px;
}
.bolck-2-title>h3>span{
    color: #FF592B;
}
/* --------------------<<parent-5>>-------------------- */
.parnet-5{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent-5-iner-block{
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent-5-row-1{
    margin: 0px 30px 0px 0;
    background-color: #151515;
    border-radius: 50px;
}
.img-parent-5{
    transition: all linear .3s;
    filter: grayscale(100%);
    background: url(../nkarner/nkar-1-gunavor.png);
    width: 250px;
    height: 410px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 40px;
}
.img-parent-5:hover {
    filter:none;
}
.parent-5-row-2{
    font-family: sans-serif;
    margin: 0px 0px 0px 30px;
    width: 510px;
    height: auto;
    color: white;
}
.parent-5-row-2>h4{
    color:#FF592B;
    font-size: 20px;
}
.parent-5-row-2>h3{
    font-size: 25px;
}
.parent-5-row-2>p{
    color: #787878;
    font-size: 17px;
    line-height: 1.5;
}
.parent-5-row-2>button {
    position: relative;
    outline: none;
    padding: 15px 15px;
    background-color: #FF592B;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    transition: ease-in-out 0.5s;
    cursor: pointer;   
}
.parent-5-row-2>button:hover{
    border-bottom: 5px solid #FF592B;
}
.file{
    font-family: sans-serif;
    margin-top: 55px;
    position: relative;
    width: 100%;
    height: 25px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background-size: auto;
}
.pr1::after{
    content: "Popular";
    position: absolute;
    color: #FF592B;
    bottom: 30px;
    left: 10px;
    border-bottom: 2px solid #FF592B;
    border-radius: 20px;
    padding: 0px 10px 3px 10px;
}   
.pr2::after{
    content: "Rating";
    position: absolute;
    color: #FF592B;
    bottom: 30px;
    left: 10px;
    border-bottom: 2px solid #FF592B;
    border-radius: 20px;
    padding: 0px 10px 3px 10px;
}   
.pr3::after{
    content: "Watched";
    position: absolute;
    color: #FF592B;
    bottom: 30px;
    left: 10px;
    border-bottom: 2px solid #FF592B;
    border-radius: 20px;
    padding: 0px 10px 3px 10px;
}   
progress::-webkit-progress-bar {
    background: #464950;
    border-radius: 25px;
}
progress {
    background: #464950;
    border-radius: 25px;
}
progress::-webkit-progress-value {
    background: #FF592B;
    border-radius: 25px;
}
progress::-moz-progress-bar {
    background: #FF592B;
    border-radius: 25px;
}
/* --------------------<<parent-6>>-------------------- */
.parebt-6{
    width: 100%;
    display: flex;
    margin: auto;
}
.parent-6-row-1>h4{
    color: #FF592B;
    display: inline-block;
    text-align: center;
    border-bottom: 2px solid #FF592B;
    border-radius: 20px;
    padding: 0px 10px 3px 10px;
}
.parent-6-row-1{
    width: 370px;
    height: 400px;
    margin: auto;
}
.parent-6-row-2{
    width: 250px;
    height: 410px;
    margin: 0 auto;
    background-color: #151515;
    border-radius: 50px;
}
.bacgraund-img-2{
    background-image: url(../nkarner/nkar-2-gunavor.png);
    transition: all linear .3s;
    filter: grayscale(100%);
    width: 250px;
    height: 410px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.bacgraund-img-2:hover {
    filter:none;
}


.bolck-3-title{
    font-size: xx-large;
    width: 100%;
    color: white;
    font-family: sans-serif;
    letter-spacing: 10px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bolck-3-title>h3{
    z-index: 1;
    border-bottom: 2px solid #FF592B;
    border-radius: 25px;
    padding: 15px 15px 5px 25px;
}
.bolck-3-title>h3>span{
    color: #FF592B;
}

.flex-containers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-container-img{
    width: 61%;
    display: flex;
    flex-wrap: wrap;
}
.flex-container-img>div{
    margin: 0 auto;
    line-height: 5;
}
.flex-container-img>div>img{
    height: 320px;
    border-radius: 10px;
}
.bolck-3-title {
    font-size: xx-large;
    width: 100%;
    color: white;
    font-family: sans-serif;
    letter-spacing: 10px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bolck-3-title>h3 {
    z-index: 1;
    border-bottom: 2px solid #FF592B;
    border-radius: 25px;
    padding: 15px 15px 5px 25px;
}
/* --------------------<<parent-7>>-------------------- */
.parent-7{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 15px solid #FF592B;
    border-radius: 100px;
}
.parent-7-iner{
    width: 80%;
    height: 600px;
    display: flex;
}
.parent-7-row-1{
    position: relative;
    height: 510px;
    margin: 10px;
    padding: 30px;
}
.parent-7-row-1>div{
    margin: 10px;
    background-color: #1C1C1C;
    padding: 5px;
    border-left: 2px solid #FF592B;
    border-right: 2px solid #FF592B;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 65px;
}
.div-open-1 {
    transition: 2s;
}  
.div-open-1:hover {
    height: 225px;
}
.div-open-2 {
    transition: 2s;
}  
.div-open-2:hover {
    height: 225px;
}
.div-open-3 {
    transition: 2s;
}  
.div-open-3:hover {
    height: 225px;
}
.parent-7-row-1>div>h3{
    display: inline-block;
    color: #FF592B;
    margin: 10px;
    border-bottom: 2px solid #FF592B;
    border-radius: 25px;
    padding: 10px 25px 10px 25px;
    border-left: solid;
}
.parent-7-row-1>div>p{
    color: darkgray;
}
.parent-7-row-1>div>p{
    font-size: 17px;
    font-weight: bold;
    margin: 10px;
    letter-spacing: -1px;
}
.parent-7-row-2{
    width: 75%;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.form-2-1{
    width: 100%;
    height: auto;
}
.inputs-all{
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    height: 35px;
    line-height: 0px;
    margin: 5px;
    border-bottom: 2px solid #FF592B;
    border-top: 2px solid #FF592B;
    border-radius: 10px;
    color: white;
    font-size: unset;
    background-color: #1C1C1C;
    transition: 2s;
}
.form-2-1>textarea{
    width: 100%;
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 20px 5px;
    border-bottom: 2px solid #FF592B;
    border-top: 2px solid #FF592B;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    background-color: #1C1C1C;
    transition: 2s;
}
.submit-1{
    padding: 4.5px 25px;
    background-color: #1C1C1C;
    border-radius: 15px;
    color: #FF592B;
    margin-top: 10px;
    font-size: 18px;
    border: 2px solid #FF592B;
    cursor: pointer;
    font-weight: 700;
}
.submit-1:hover{
    background-color: #FF592B;
    color: black;
    border: 2px solid slategray;
}
.menu-btn-mobile{
    display: none;
}

/* -----------------------------850px---------------------------------- */

@media only screen and (max-width: 855px) {
    .conteiner-logo>a>h1{
        font-size: large;
   }
    .navbar-ul{
        font-size: 14px;;
   }
   .navbar-ul>li>text{
        padding: 5px 10px;
   }
   .navbar-ul>li:hover {
    color: #FF592B;
    font-size: 14.5px;
   }
   .parent-1-iner{
        padding-top: 100px;
   }
   .parent-1-row-1>h3{
        font-size: 30px;
   }
   .parent-1-row-1>p{
        font-size: inherit;
   }
   .parent-1-row-1>button{
        padding: 10px 10px;
        font-size: 18px;
   }
   .parent-1-row-2>img{
        width: 150%;
        left: 0px;
   }
   .bolck-1-title{
        align-items: center;
        height: 200px;
        margin-bottom: 100px;
   }
   .bolck-1-title::before,.bolck-1-title::after{
        display: none;
   }
   .parnet-3-iner>div>h4{
       font-size: 18px;
   }
   .parnet-4-iner>div>h4{
        font-size: 18px;
   }
   .parnet-3-iner>div>a>text{
        font-size: smaller;
   }
   .parnet-4-iner>div>a>text{
        font-size: smaller;
   }
   .parnet-4-iner>div>i{
        font-size: 20px;
   }
   .parnet-3-iner>div>i{
        font-size: 20px;
   }
   .parent-1-row-1::before{
        display: none;
   }
   .parnet-3-iner-elements-2::before{
       display: none;
   }
   .parnet-3-iner-elements-1::before{
       display: none;
   }
   .parnet-3-iner-elements-2::after{
       display: none;
   }
   .parnet-3-iner-elements-1::after{
       display: none;
   }
   .parent-5-row-1{
        margin: 0;
   }
   .parent-5-row-2{
        width: 50%;
   }
   .flex-container-img{
        width: 100%;
   }
   .parent-7-row-1>div>h3{
        font-size: inherit;
   }
   .inputs-all:hover{
        width: 170%;
   }
   .form-2-1>textarea:hover{
        width: 170%;
   }
   .div-open-1:hover{
        width: 113%;
   }
   .div-open-2:hover{
        width: 113%;
   }
   .div-open-3:hover{
        width: 113%;
   }
   .navbar-inner{
        width: 93%;
   }
}

/* -----------------------------425px---------------------------------- */

@media only screen and (max-width: 430px) {

    .conteiner-logo>a>h1{
        font-size: 25px;
        vertical-align: middle;
    }
    .navbar-ul{
        display: none;
    }
    .navbar-inner{
        height: 50px;
    }
    .parent-1-iner{
        flex-flow: wrap-reverse;
        padding-top: 30px;
    }
    .parent-1-row-2{
        width: auto;
    }
    .parent-1-row-2>img{
        width: 100%;
    }
    .parent-1-row-1>h3{
        font-size: 20px;
    }
    .bolck-1-title>h3{
        font-size: smaller;
    }
    .bolck-1-title{
        margin: 0;
        height: 150px;
    }
    .parnet-3-iner{
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .parnet-3-iner>div{
        width: 85%;
    }
    .parnet-4-iner{
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .parnet-4-iner>div{
        width: 85%;
    }
    .bolck-2-title{
        height: 150px;
    }
    .bolck-2-title>h3{
        font-size: smaller;
    }
    .parent-5-iner-block{
        flex-direction: column;
    }
    .parent-5-row-2>p{
        font-size: inherit;
        margin: 0;
    }
    .parent-5-row-2>h3{
        margin: 5px;
    }
    .parent-5-row-2>button{
        margin: 20px 0 50px;
        padding: 10px 10px;
    }
    .parent-5-row-1{
        height: 380px;
    }
    .parebt-6{
        flex-flow: column-reverse;
    }
    .parent-6-row-1{
        text-align: center;
        margin-top: 50px;
        height: 300px;
        width: 93%;
    }
    .bolck-3-title{
        font-size: x-large;
        height: 100px;
    }
    .flex-container-img>div>img {
        height: 140px;
        line-height: 3;
    }
    .parent-7-iner{
        flex-direction: column;
    }
    .parent-7-iner{
        height: auto;
    }
    .parent-7-row-1{
        height: auto;
    }
    .parent-7-row-1{
        padding: 0;
        margin: 0;
    }
    .div-open-1{
        width:auto;
    }
    .parent-7-row-1>div{
        height: auto;
        margin: 20px 0px;
        padding: 0;
    }
    .div-open-1:hover {
        width: 100%;
        height: auto;
    }
    .div-open-2:hover {
        width: 100%;
        height: auto;
    }
    .div-open-3:hover {
        width: 100%;
        height: auto;
    }
    .inputs-all:hover {
        width: 100%;
    }
    .form-2-1>textarea:hover {
        width: 100%;
    }
    .submit-1{
        margin: auto;
        display: block;
    }
    .form-2-1>textarea{
        height: 120px;
    }
    .bolck-3-title{
        height: 100px;
    }
    .parent-7{
        border-bottom: 5px solid #FF592B;
    }
    .menu-btn-mobile{
        display: flex;
        color: #FF592B;
        font-size:25px;
        margin-left: -15px;
        cursor: pointer;
    }
/* -----------------------------for btn mobile---------------------------------- */
    .fa-bars:hover{
        -webkit-text-stroke-width: medium;
    }
    .navbar_ul_btn{
        padding: 10px;
        margin: 0;
    }
    .click-btn-ul-li{
        display: flex;
        color: #FF592B;
        width: auto;
        position: relative;
        top: 175px;
        background-color: black;
        z-index: 2;
        left: 10px;
        font-size: larger;
        border: 2px solid;
        border-radius: 5px;
        transition: 1s;
        cursor: pointer;
    }
    .navbar_ul_btn>li{
        list-style-type: none;
        padding: 3px;
        font-size: 35px;
        transition: ease 1s;
    }
    .navbar_ul_btn>li:hover{
        border-radius: 10px;
        border-left: 2px solid;
        border-right: 2px solid;
        color: coral;
    }
    .click-btn-ul-li::before{
        content: "^";
        position: absolute;
        right: 5px;
        top: -19px;
        font-size: xx-large;
    }
}