@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
*{
	margin: 0;
	padding: 0;
	user-select: none;
}
body{
	width: 100%;
	height: 100%;
}
.box{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	background-color: #53687288;
}
.modal{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.modal-row>img {
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 0px 15px 5px burlywood;
}
.modal-row {
	position: relative;
    z-index: 6;
    background-color: #ffffff00;
    width: 55%;
}
.close{
	transition: 310ms;
	position: absolute;
	right: 0;
	width: 30px;
	height: 30px;
	background-color: red;
	color: white;
	text-align: center;
	font-size: x-large;
	cursor: pointer;
	border-radius: 0px 10px 0px 0px;
}
.close:hover{
    font-size: 25px;
    width: 32px;
    height: 32px;
	background-color:black ;
	color:white;
}
.img-information{
	margin-top: 5px;
    margin-bottom: 5px;
	line-height: 45px;
	width: 100%;
}
.fa-facebook:before{
	color: #1877F2FF;
}
.fa-instagram-square:before{
	color: #E53C56;
}
.icons{
	border-radius: 50px;
    background-color: #646F7468;
	height: 60px;
	display: flex;
	flex-flow: row wrap;
}
.icons>.fa-twitter-square:before{
	color: #1DA1F2;
}
.icons>.fa-odnoklassniki-square:before{
	color: #F58E28;
}
.icons>.fa-vk:before{
	color: #2787F5;
}
.icons>.fa-share-square:before{
	color: chartreuse;
}
.icons>i{
	transition: 200ms;
	cursor: pointer;
	margin: auto;
	font-size:35px;
}
.icons>i:hover{
	padding-bottom: 20px;
	cursor: pointer;
	font-size: 35px;
}
.img-information>h2 {

    border-bottom: 3px ridge yellow;
	border-top: 3px ridge yellow;
   	font-weight: 100;
	transition: 250ms;
    border-radius: 17px;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
	color: white;
}
.img-information>h2:hover{
	font-size: 25px;
}

main{
	margin-left: 5px;
    margin-right: 5px;
}
hr{
	margin: 10px;
	border:1px solid white;
}
.top-link{
	position: relative;
	overflow: hidden;
	text-align: center;
	background-color: #222222FF;
	padding: 19px;
}
.top-link>a{
	color: #A3A3A3FF;
	font-weight: 600;
	font-size: 14px;
}
.top-link>a:hover{
	color: white;
	font-weight: 600;
}
.sticky{
	display: flex;
	flex-wrap: wrap;
 	position: sticky;
  	top: 0;
 	background-color:white;
}
.parent{
	position: relative;
	background-color: black;
}
.menu>.top-logo{
	cursor: pointer;
	overflow: hidden;
	text-align: center;
	width:17%;
	line-height: 3;
}
.menu>.top-logo>.fa-airbnb{
	font-weight: bolder;
	color: white;
	font-size: 37px;
	vertical-align: baseline;
}
.menu>.top-logo>text{
	padding-left: 5px;
    vertical-align: super;
	color: white;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 20px;
	font-weight: 700;
}
.menu>.top-logo>.fa-airbnb:hover{
	color: #A3A3A3FF;
}
.menu>.top-logo>text:hover{
	color: #A3A3A3FF;
}
.menu{
	position: relative;
	display: flex;
	overflow: hidden;
}
.flex-top{
	overflow: hidden;
	text-align: center;
	width: 58%;
	height: 60px;
}
.flex-top>ul>li{
	list-style-type: none;
	cursor: pointer;
	display: inline-block;
	color: white;
	margin-left:3%;
	line-height: 4;
}
.flex-top>ul>li:hover{
	cursor: pointer;
	display: inline-block;
	color: #A3A3A3FF;
	margin-left:3%;
	line-height: 4;
}
.div-left-icon>span,.fa-globe,.fa-bars,.fa-user-circle{
	line-height: 4;
	cursor: pointer;
}
.div-left-icon{
	overflow: hidden;
	text-align: center;
	width: 25%;
}
.div-left-icon>span{
	color: white;
	margin-left: 10px;
}
.div-left-icon>span:hover{
	color: #A3A3A3FF;
	margin-left: 10px;
}
.div-left-icon>i{
	font-size: 15px;
	color: white;
	margin-left: 15px;
    margin-right: 15px;
}
.button-1>i{
	padding: 12px;
    border-radius: 100%;
    color: white;
}
button{
	border: none; outline: none;
}
.button-1{
	font-size: 18px;
	background-color: black;
	border-radius: 100%;
}
.button-1:hover{ 
	background-color: #222222FF;
	border-radius: 100%;
}
.div-left-icon>.button-2{
	cursor: pointer;
	vertical-align: sub;
	padding: 5px;
	padding-left: 15px;
    padding-right: 15px;
	border-radius: 22px;
}
.div-left-icon>.button-2>.fa-bars{
	font-size: 14px;
	padding-right: 3px;
	vertical-align: super;
}
.div-left-icon>.button-2>.fa-user-circle{
	font-size: 30px;
	color :#222222FF;
}
.glxavor-nkar1{
	overflow: hidden;
	width: 100%;
}
.glxavor-nkar1>img{
	width: 92%;
	display: block;
	margin: 0 auto;
}
.h2text{
	overflow: hidden;
	background-color: black;
	width: 100%;
	height: 100px;
}
.h2text>h2{
	margin-top: 25px;
	text-align: center;
	color: white;
	font-size: 35px;
    font-weight: lighter;
}
.information-text{
	display: flex;
	flex-wrap: wrap;
}
.information-text>div{
	margin: 10px auto;
  	width: 425px;
  	font-size: 20px;
  	text-align: left;
}
.information-text>div>h3{
	font-size: 18px;
	font-weight: 100;
}
.information-text>div>button{
	cursor: pointer;
    margin-top: 15px;
	font-weight: 600;
	border-radius: 10px;
	background-color: white;
	padding: 10px;
	border: 1px solid;
	border-radius: 10px;
}
.information-text>div>button:hover{
	background-color: #F0F0F0FF;
}
.title-text{
	overflow: hidden;
	width: 100%;
}
.title-text>h2{
	margin-left: 20px;
	font-size: 35px;
}
.flex-1{
	display: flex;
	flex-wrap: wrap;
}
.flex-1>div{
	cursor: pointer;
	margin: 0px auto;
	overflow: hidden;
	width: 270px;
	height: 235px;
	text-align: center;
}
.flex-1>div>img{
	transition: 300ms;
	width: 240px;
	height: 150px;
	border-radius: 10px;
}
.flex-1>div>img:hover{
	width: 250px;
	height: 160px;
	border-radius: 10px;
}
.main-tesakani-2>h2{
	margin-left: 20px;
    font-size: 35px;
}
.flex-2{
	display: flex;
	flex-wrap: wrap;
}
.flex-2>div{
	cursor: pointer;
	margin: 5px auto;
	overflow: hidden;
	width: 350px;
    height: 400px;
	text-align: center;
}
.flex-2>div>img{
	transition: 300ms;
	width: 330px;
    height: 290px;
	border-radius: 5px;
}
.flex-2>div>img:hover{
	width: 340px;
    height: 300px;
	border-radius: 5px;
}
.flex-2>div>h2{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}
.img-kuxnya{
	border-right: 15px;
	width: 100%;
	height: 600px;
}
.img-control{
    background-size: cover;
	overflow:hidden;
	margin: 0 auto;
	background-image: url(../nkarner/kuxnya.jpg);
	width: 95%;
	height: 550px;
	border-radius: 25px;
}
.img-control>h2,h5{
	margin: 10px;
	font-weight: normal;
    font-size: 45px;
    margin: 10px;
    color: white;
}
.img-control>h5{
	font-size: 25px;
}
.img-control>button{
	margin: 10px;
	cursor: pointer;
    margin-top: 15px;
	font-weight: 600;
	border-radius: 10px;
	background-color: white;
	padding: 10px;
	border: 1px solid;
	border-radius: 10px;
}
.img-control>button:hover{
	background-color: #F0F0F0FF;
}
.title-text{
	width: 100%;
}
.title-text>h2{
	margin-left: 20px;
	font-size: 30px;
}
.title-text>h3{
	margin: 20px;
	font-size: 25px;
	font-weight: normal;
}
.flex-3{
	display: flex;
	flex-wrap: wrap;
}
.flex-3>div{
	cursor: pointer;
	margin: 5px auto;
	overflow: hidden;
	width: 455px;
    height: 550px;
	text-align: center;
}
.flex-3>div>img{
	transition: 300ms;
	width: 500px;
    height: 425px;
	border-radius: 5px;
}
.flex-3>div>img:hover{
	width: 510px;
    height: 435px;
	border-radius: 5px;
}
.flex-3>div>h2{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}
footer{
	border-top: 1px solid white;
	width: 100%;
	height: auto;
	background-color: #686869;
}
.footer-all-row>div>ul>li>a{
	text-decoration:none;
	color: black;
}
.flex-4>div>ul>li>a{
	text-decoration:none;
	color: white;
}
.footer-all-row>div>ul>li>a:hover{
	text-decoration:none;
	color: black;
	border-bottom: 1px solid black;
}
.flex-4>div>ul>li>a:hover{
	transition: 300ms;
	text-decoration:none;
	color: black;
	border-bottom: 1px solid black;
}
.footer-panel-center>ul>i{
	color: white;
}
.footer-all-row{
	display: flex;
	flex-wrap: wrap;
}
.footer-all-row>div{
	margin: 0 auto;
	overflow: hidden;
	width: 355px;
    height: 465px;  
}
.footer-all-row>div>h4{
	font-weight:bold;
	text-align: center;
	color: white;
}
.footer-all-row>div>ul li{
	margin: 5px;
    line-height: 35px;
	list-style-type: none;
	color: white;
}
.footer-all-row>div>ul>li>a{
	color: white;
}
.flex-4{
	border-top: 1px solid #4A4A4AFF;
	display: flex;
	flex-wrap: wrap;
}
.flex-4>div{
	margin: 0 auto;
	height:60px;
}
.flex-4>div>ul li{
	text-align: center;
	list-style-type: none;
	display: inline-block;
	font-size: 14px;
    margin: 8px;
    color: white;
}
.footer-panel-center>ul li{
	cursor: pointer;
	text-align: center;
	font-weight: bold;
}
.footer-panel-center{
	text-align: center;
}
.footer-panel-center>i{
	margin: 5px;
}
.footer-panel-right>ul li{
	display: inline-block;
	list-style-type: none;
}
.footer-panel-right>ul>li>a>i{
	color: white;
	font-size: 20px;
}
.fa-twitter-square{
	color: #1DA1F2;
}

@media only screen and (max-width: 1030px) {
	.menu {
	    height: 120px;
	    position: relative;
	    display: flex;
	    overflow: hidden;
}

	.menu>.top-logo {
		text-align: initial;
	    cursor: pointer;
	    overflow: hidden;
	    margin-left: 10px;
	    width: 50%;
	    line-height: 3;
}

	.flex-top {
	    position: absolute;
	    overflow: hidden;
	    width: 100%;
	    top: 55px;
}
	.div-left-icon {
	    overflow: hidden;
	    text-align: end;
	    margin-right: 10px;
	    width: 50%;
}
	.h2text>h2 {
		font-size: 25px;
	}

}

@media only screen and (max-width: 770px) {
	.modal-row{
		width: 70%;
	}
	.img-kuxnya {
    	height: auto;
	}
	.img-control {
		background-size: cover;
		height: auto;
	}
	.flex-1>div>img:hover {
		width: 100%;
		height: 115px;
	}
	.flex-1>div {
		width: 160px;
		height: 155px;
		padding: 10px;
	}
	.flex-1>div>img {
		width: 97%;
		height: auto;
	}
	.flex-3>div {
		width: 310px;
		height: auto;
	}
	.flex-3>div>img:hover {
		width: 100%;
		height: 300px;
		border-radius: 5px;
	}
	.flex-3>div>img {
		width: 95%;
		height: 290px;
	}
	.div-left-icon {
		width: 520px;
	}
	.information-text>div{
		width: 350px;
	}
	.information-text>div,h3{
		font-size: 15px;
	}
	.flex-top>ul>li{
		font-size: 11px;
    }
	.h2text>h2 {
		font-size: 20px;
	}
	.title-text>h2 {
    	font-size: 25px;
	}
	.flex-2>div>img{
	    width: 95%;
	    height: 280px;
	}
	.flex-2>div>img:hover{
	    width: 100%;
	    height: 290px;
	}
 
}
@media only screen and (max-width: 430px) {
	.modal-row {
		width: 85%;
	}

	.flex-1>div>img:hover {
		width: 100%;
    	height: auto;
	}
	.flex-2>div>img:hover {
   	 	width: 100%;
    	height: auto;
	}
	.footer-all-row>div{
		height: auto;
	}
	.flex-3>div{
		width: 455px;
    	height: auto;
	}
	.flex-3>div>img {
    	margin-top: 10px;
    	margin-bottom: 10px;
    	width: 85%;
    	height: 200px;
    	border-radius: 5px;
	}
	.flex-2>div>h2 {
    	margin-bottom: 10px;
    	font-size: 20px;
	}
	.flex-3>div>img:hover{
		width: 90%;
    	height: 221px;
	}
	.img-control>h2, h5{
		font-size: 25px;
	}
	.img-control> h5{
		font-size: 15px;
	}
	.img-control{
		background-position: unset;
	}
	.top-link>a{
		font-size: 11px;
	}
	.top-link{
		padding: 8px;
	}

	.h2text>h2 {
		font-size: 18px;
	}

	.menu>.top-logo>text{
		font-size: 16px;
	}

	.div-left-icon>span,.button-1{
		font-size: 12px;
	}

	.div-left-icon>.button-2>.fa-user-circle{
		font-size: 20px;
	}
	.div-left-icon>.button-2>.fa-bars {
    	font-size: 18px;
    	vertical-align: baseline;
	}
	.flex-2>div>img{
		width: 95%;
    	height: auto;
    }
    .flex-2>div{
    	width: 180px;
    	height: auto;
    }
	
}

@media only screen and (max-width: 380px) {
	.information-text>div, h3 {
    font-size: 12px;
	}
	.information-text>div>button{
	padding: 5px;
	font-size: 11px;
	}
	.information-text>div>h3 {
    font-size: 15px;
    }
    .title-text>h2 {
    font-size: 18px;
	}
	.flex-1>div {
    width: 135px;
	}
	.flex-2>div {
    width: 154px;
	}
	.img-control>button{
	padding: 5px;
	font-size: 11px;
	}
	.title-text>h3 {
    margin: 10px;
    font-size: 16px;
	}
	.flex-3>div>h2 {
    font-size: 20px;
    font-weight: bold;
	}
	.information-text>div, h3 {
    font-size: 14px;
    font-weight: inherit;
    margin: 10px;
	}
	.footer-all-row>div>h4{
	font-size: 15px;
	}
	.footer-all-row>div>ul{
	font-size: 13px;
	}
	.flex-4>div>ul li{
	margin: 2px;
	}
	.menu>.top-logo {
    width: 200px;
	}
	.flex-top>ul>li{
	font-size: 9px;
	}
	.div-left-icon>.button-2{
	padding: 6px;
	}
	.flex-1>div>h2{
	font-size: 20px;
	}
	.img-information>h2{
	font-size: 18px;
	}
	.img-information>h2:hover{
	font-size: 19px;
	}
}